interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: POST
    uri: https://www.slack.com/api/users.list
  response:
    body:
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TNS8TBA3A","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TNS8TBA3A"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UNEQ8J1V1","team_id":"TNS8TBA3A","name":"amcchesney","deleted":false,"color":"9f69e7","real_name":"amcchesney","tz":"America\/Chicago","tz_label":"Central
        Standard Time","tz_offset":-21600,"profile":{"title":"","phone":"","skype":"","real_name":"amcchesney","real_name_normalized":"amcchesney","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"ga69af37a928","email":"amcchesney@taos.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/a69af37a928454b2ae89096bb62748e4.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0007-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/a69af37a928454b2ae89096bb62748e4.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0007-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/a69af37a928454b2ae89096bb62748e4.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%[...]
